.box{
    width: 420px;
    height: 420px;
    background-color: $DarkBlue;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient($DarkBlue,$VeryDarkBlue3);
        z-index: -1;
        
    }
    & .star{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $MediumGrey3;
        margin: 30px 348px 30px 20px;
        & img{
            width: 20px;
            z-index:1;
        }

    }
    & .info{
        margin-left: 20px;
        color: $White;
        & h1{
            font-size: 25px;
            margin-bottom: 15px;
        }
        & p{
            color: $MediumGrey;
            line-height: 1.6;
            margin-right: 50px;
            margin-bottom: 30px;
        }
    } 
    & .rate {
        margin-bottom: 30px;
        span{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $MediumGrey3;
            color: $MediumGrey;
            margin-right: 20px;
            &:hover{
                cursor: pointer;
                background-color: $Orange;
                color: $White;
            }
        }
    }
    & button{
        width: 80%;
        background-color: $Orange;
        color: white;
        text-align: center;
        border-radius: 30px;
        padding: 15px ;
        border: none;
        &:hover{
            background-color: $White;
            
            cursor: pointer;
        }
        &:hover a{
            color: $Orange;
        }
        & a{
            color: $White;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            width: 100%;
            display: block;
        }

    }

}