$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54% );
$MediumGrey3: hsl(216, 12%, 54% ,0.3);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);
$VeryDarkBlue3: hsl(216, 12%, 8%,0.3);